.promote-options {
  display: flex;
  flex-wrap: wrap;
}

.promote-options > div {
  min-width: 0px;
  flex-basis: calc(50% - 2rem);
  border: 2px solid transparent;
  box-sizing: border-box;
  margin: 0 1rem;
}

#selected-promote-option {
  border: 2px solid #007ea7;
  border-radius: 0.5rem;
}

.confirm-promotion {
  margin: 1rem;
}
