.color-picker {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.color-options {
  width: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.color-options > div {
  flex-basis: 100%;
  background-color: white;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid #282c34;
}

.color-options > div:last-child {
  background-color: black;
}

.color-preview {
  width: 6rem;
}
